<div class="ft-section">
  <section class="color-bg">

    <div class="row text-center d-flex justify-content-center pt-2 pb-2">
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">

        <h4 class="fw mb-2">+800</h4>
        <p class="px-2 mb-lg-0 fw-light">
          Partners
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">

        <h4 class="fw mb-2">+50</h4>
        <p class="px-2 mb-lg-0 fw-light">
          Countries
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-md-0 mb-5">

        <h4 class="fw mb-2">+4 500</h4>
        <p class="px-2 mb-md-0 fw-light">
          Opportunities
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-md-0 mb-5">

        <h4 class="fw mb-2">+1 529</h4>
        <p class="px-2 mb-md-0 fw-light">
          Companies
        </p>
      </div>
    </div>
  </section>
</div>
