
<div class="hero-complet">
  <div class="image"></div>
  <div class="hero-all">
    <div class="contenu-hero">
      <div class="hero1">
        <div class="col-md-6">
          <h1 class="hero-h">MANAGE OPERATIONS</h1>
          <div class="mixh">
            <button class="hero-btn">LEARN MORE</button>
            <a href=""><img src="../assets/heroicon.png" class="hero-icon"></a>
          </div>
        </div>
      </div>
      <div class="hero2">
        <div class="col">
          <div id="carouselExample" class="carousel hero-slide">
            <div class="carousel-inner hero-inner">
              <div class="carousel-item active">
                <h2 class="hero-h2">01.</h2>
                <hr class="herohr">
                <br>
                <p class="hero-para">Discover market access rules, check regulatory compliance, latest customs duties, shipping requirements and other documentation. Africa-wide, harmonized, and aggregated trade and investment regulatory information i.e., Foreign Trade Regulations (e.g., Customs procedures, certification, licensing, etc.) and Market Access (trade agreements, tariffs, and non-tariff measures etc.)</p>
              </div>
              <div class="carousel-item">
                <h2 class="hero-h2">02.</h2>
                <hr class="herohr">
                <br>
                <p class="hero-para">Discover market access rules, check regulatory compliance, latest customs duties, shipping requirements and other documentation. Africa-wide, harmonized, and aggregated trade and investment regulatory information i.e., Foreign Trade Regulations (e.g., Customs procedures, certification, licensing, etc.) and Market Access (trade agreements, tariffs, and non-tariff measures etc.)</p>
              </div>
              <div class="carousel-item">
                <h2 class="hero-h2">03.</h2>
                <hr class="herohr">
                <br>
                <p class="hero-para">Discover market access rules, check regulatory compliance, latest customs duties, shipping requirements and other documentation. Africa-wide, harmonized, and aggregated trade and investment regulatory information i.e., Foreign Trade Regulations (e.g., Customs procedures, certification, licensing, etc.) and Market Access (trade agreements, tariffs, and non-tariff measures etc.)</p>
              </div>
            </div>
            <button class="carousel-control-prev arrow1" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev" aria-hidden="true"><img src="../assets/Arrow - Left Square.png" alt=""></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next arrow2" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next" aria-hidden="true"><img src="../assets/Arrow - Right Square.png" alt=""></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
